<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="VSPackages" value="\\cpvsbuild\drops\dd\NuGet" />
    <add key="Microsoft NuGet" value="https://ms-nuget.cloudapp.net/api/v2/" />
    <add key="Official NuGet" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>
